<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<div class = 'row'>

    <% @students.each do |student| %>

    <div class = 'col-md-3'>

      <div class="panel panel-primary">

        <div class = 'panel-body'>



        <%= student.name %>
        <%= student.age %>
        <%= student.sex %>
        <%= link_to 'Show', student, class: 'btn btn-default' %>
        <%= link_to 'Edit', edit_student_path(student), class: 'btn btn-default' %>
        <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %>
        
        </div>
      </div>
    </div>

    <% end %>

</div>

<br>

<%= link_to 'New Student', new_student_path %>
